[user]
	name = Calvin McLean
	email = calvinlmc@gmail.com
	signingkey = /Users/calvinmclean/.ssh/id_rsa.pub
[pull]
	ff = only
[alias]
	co = checkout
	br = branch
	c = commit
	st = status
        p = push
        f = fetch
[commit]
	gpgsign = true
[gpg]
	format = ssh
